@media (max-width:750px) and
   (min-width:500px)
{
    .comic {
        height: 180px;
       width: 250px;
        background: url(https://imgs.xkcd.com/comics/self_description.png) 250px 0px;
    } 
}
@media (max-width:1200px) and
   (min-width:600px)
   {
    .comic {
        height: 180px;
        width: 250px;
        background: url(https://imgs.xkcd.com/comics/self_description.png) 500px 0px;
    }
   }
    @media (max-width:600px) and
   (min-width:1200px)
   {
    .comic {
        height: 180px;
        width: 250px;
        background: url(https://imgs.xkcd.com/comics/self_description.png) 750px 0px;
    }
}