
#col1 { 
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 20px;
    background-color: rgba(15, 14, 14, 0.795);
    background-image: linear-gradient(blue, red);
}
#col2 {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 20px;
    background-color: rgba(15, 14, 14, 0.795);
    background-image: linear-gradient(green, yellow);
}
#col3 {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 20px;
    background-color: rgba(15, 14, 14, 0.795);
    background-image: linear-gradient(red, white);
}